<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
    <head>
        <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
    </head>
    <body>
        <h1>Sample App</h1>
        <p>Esta é a home page para o <a href="https://preview.c9.io/fvcdaniel/sample_app/">Curso de Ruby on Rails</a> da CODATA.</p>
        <hr />
    </body>
</html>